@use "mixins" as m;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.17;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}
/*
  6. Improve media defaults
*/
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

* {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--body-text);
  font-family: var(--ff-primary);
}

.hidden {
  display: block;
}

.overflow {
  overflow: hidden;
}

.active {
  transform: translateX(0) !important;
}

.hide-all {
  display: none !important;
}

.active-list {
  display: flex !important;

  @include m.respond(tab-port) {
    opacity: 1 !important;
    transform: scaleX(1) translateY(0) !important;
  }
}
