@use "../mixins" as m;

.main-section {
  text-align: center;
  overflow-x: hidden;
  position: relative;

  margin: 6.25rem 0;

  @include m.respond(tab-land) {
    margin-bottom: 7.6875rem;
    margin-top: 4.5rem;
  }

  > h2 {
    margin-bottom: 2.375rem;
    color: var(--headings-text);

    @include m.respond(tab-land) {
      position: absolute;
      top: 75px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .article {
    @include m.main-content;

    @include m.respond(tab-port) {
      text-align: left;
      flex-direction: row !important;
    }

    &-1 {
      @include m.flex-center(2.875rem, column-reverse);

      @include m.respond(tab-port) {
        position: relative;
      }

      @include m.respond(desktop) {
        gap: 5rem !important;
      }

      .article__content {
        @include m.respond(desktop) {
          padding-top: 2.5rem;
        }
      }

      &__img {
        @include m.respond(tab-land) {
          img,
          source {
            max-width: 925px;
          }
        }
      }
    }

    &-2 {
      color: var(--white);
      padding: 13.875rem 0 6.75rem 0;
      border-radius: 0 100px;
      background-image: url("./images/bg-pattern-circles.svg"), var(--gradiend-section);
      background-position: top -230px center, center;
      background-size: 550px, auto;
      background-repeat: no-repeat;

      margin: 17rem 0 5rem;

      @include m.respond(tab-port) {
        padding: 6.9375rem 0;
        margin: 3.5rem 0 7.25rem 0;

        background-position: top -500px left -200px, center;
        background-size: 1015px, auto;
      }

      h2 {
        margin: 0;
      }

      &__img {
        position: absolute;
        top: -400px;
        left: 50%;
        transform: translateX(-50%);

        max-width: 400px;
        width: 100%;

        @include m.respond(tab-port) {
          top: -70px;
          left: -40px;
          transform: translateX(0);
        }

        @media (min-width: 1095px) {
          top: -180px;
          max-width: 552px;
        }
      }

      .article-container {
        @include m.main-content;
        position: relative;

        @include m.respond(tab-port) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }

        @include m.respond(desktop) {
          gap: 2rem;
        }
      }

      .article-2__content {
        display: grid;
        gap: 0.625rem;
        max-width: 33.75rem;
        margin-inline: auto;

        @include m.respond(tab-port) {
          grid-column-start: 2;
          gap: 0.3125rem;
          margin-inline: 0;
          text-align: left;
        }
      }
    }

    &-3 {
      @include m.flex-center(2.875rem, column);

      @include m.respond(desktop) {
        gap: 2.55rem !important;
      }

      &__img {
        @include m.respond(tab-port) {
          margin-left: -27.6rem;
        }

        @include m.respond(tab-land) {
          img,
          source {
            max-width: 974px;
          }
        }
      }
    }

    &__content {
      display: grid;
      gap: 2.5rem;

      @include m.respond(tab-port) {
        gap: 4rem;
      }
    }

    &__content-text {
      display: grid;
      gap: 1rem;
      max-width: 33.75rem;

      @include m.respond(tab-port) {
        min-width: 25rem;
      }

      @include m.respond(tab-land) {
        min-width: 33.75rem;
        gap: 1.875rem;
      }
    }
  }
}
